@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wjyszv');
  src:  url('fonts/icomoon.eot?wjyszv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wjyszv') format('truetype'),
    url('../fonts/icomoon.woff?wjyszv') format('woff'),
    url('../fonts/icomoon.svg?wjyszv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-googleplay:before {
  content: "\e900";
  color: #607d8b;
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-windows8:before {
  content: "\eac2";
}
